<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IGTI</title>
  </head>
  <body>
    <div id="app">
      <h1>
      {{ message }}
      </h1>
    </div>
    <script text="text/javascricpt" src="app.js"></script>
  </body>
</html>
